/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #900c50;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 2px;
  background-color: #424242;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
* Elastic
*/
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.section--nav-active {
  transform: translateX(-100%);
}

.section-heading {
  position: relative;
  margin: 30px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 400;
}
.section-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 1px;
  background-color: #424242;
}

.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0 40px;
  padding: 0 10%;
  width: 100%;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.img-box {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #424242;
  font-size: 1.8rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  color: #424242;
}

.page {
  font-family: "Montserrat", serif;
  color: #424242;
}

.header .hamburger {
  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 5px;
  z-index: 100;
}
.header .nav {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header .nav__list {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  list-style: none;
  transition: transform 0.5s;
  transform: translateX(100%);
}
.header .nav__list--active {
  transform: translatex(0);
}
.header .nav__item {
  position: relative;
  margin: 20px;
  width: 50%;
  text-transform: uppercase;
}
.header .nav__item:hover {
  background-color: #900c50;
}
.header .nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #900c50;
}
.header .nav__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 1.8rem;
  color: #424242;
  text-decoration: none;
}
.header .nav__link:hover {
  color: #fff;
}

.main .banner {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main .banner__img-box {
  background-color: #f0f0f0;
  margin-bottom: 0;
}
.main .banner__image {
  display: block;
  width: 100%;
}
.main .banner .heading {
  width: 80%;
  padding: 20px;
}
.main .banner .heading__brand {
  position: relative;
}
.main .banner .heading__brand::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 2px;
  background-color: #900c50;
}
.main .banner .heading__logo-img {
  width: 100%;
}
.main .banner .heading__name {
  padding: 20px;
  font-size: 2.2rem;
  font-weight: 400;
}
.main .banner .heading__subbrand {
  font-size: 1.8rem;
  font-weight: 400;
}
.main .banner__btn-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  width: 80%;
}
.main .banner__btn {
  padding: 10px 10px;
  margin-right: 10px;
  align-self: end;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: bold;
  color: #424242;
  background-color: #fff;
  border: 2px solid #900c50;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}
.main .banner__btn:hover {
  background-color: #900c50;
  color: #fff;
}
.main .banner__logo-box {
  width: 40px;
}
.main .banner__logo {
  width: 100%;
}
.main .banner__textbox {
  margin-bottom: 20px;
  text-align: left;
}
.main .about-me {
  background-color: #f0f0f0;
}
.main .about-me__image {
  width: 80%;
}
.main .offer__item {
  position: relative;
  margin-bottom: 80px;
}
.main .offer__item::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -40px;
  height: 1px;
  width: 90%;
  background-color: #424242;
}
.main .offer__top-box {
  position: relative;
  text-align: center;
}
.main .offer__title {
  background-color: #f0f0f0;
  padding: 5px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}
.main .offer__btn {
  position: absolute;
  bottom: -40px;
  left: 0;
  padding: 10px 15px;
  color: #fff;
  background-color: #900c50;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.main .offer__btn:hover {
  background-color: #fff;
  color: #900c50;
  padding: 10px 20px;
}
.main .offer__subtitle {
  padding: 25px;
  font-size: 1.8rem;
}
.main .offer__image {
  width: 80%;
}
.main .offer__image-horizontal {
  width: 60%;
}
.main .offer__textbox {
  margin: 0;
  padding: 40px 5%;
  background-color: #f0f0f0;
}
.main .offer__list-title {
  align-self: start;
}
.main .offer__list {
  margin: 10px 0;
  align-items: start;
}
.main .offer__more {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #f0f0f0;
  overflow: hidden;
  transition: transform 1s;
  transform: translateX(-150%);
}
.main .offer__more--active {
  transform: translatex(0);
}
.main .offer__more-title {
  margin-top: 40px;
  padding: 5px;
  align-self: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}
.main .offer__more-squares-box {
  margin: 40px 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.main .offer .square {
  height: 40px;
  width: 40px;
}
.main .offer__more-square1 {
  background-color: #fff;
}
.main .offer__more-square2 {
  background-color: #900c50;
}
.main .offer__more-square3 {
  background-color: #5d1a7a;
}
.main .offer__more-square4 {
  background-color: #00636a;
}
.main .offer__more-square5 {
  background-color: #3c3b3b;
}
.main .offer__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  color: #fff;
  background-color: #900c50;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.main .offer__btn-close:hover {
  background-color: #f0f0f0;
  color: #900c50;
  padding: 10px 20px;
}
.main .offer__more-img {
  margin-top: 30px;
}
.main .offer__more-logo {
  position: absolute;
  bottom: 0;
  opacity: 0.05;
  scale: 2;
}
.main .offer__prices {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.main .offer__prices-title {
  padding: 10px;
  margin-bottom: 40px;
  width: 100%;
  background-color: #900c50;
  color: #fff;
}
.main .offer__prices-box {
  width: 80%;
  text-align: left;
}
.main .offer__prices-list {
  list-style: none;
}
.main .offer__prices-btn {
  padding: 5px;
  font-family: inherit;
  text-align: left;
  color: #424242;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.main .offer__prices-btn:hover {
  text-decoration: underline;
}
.main .offer__prices-textbox {
  margin: 10px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
.main .offer__prices-btn i.rotated {
  transform: rotate(90deg);
}
.main .offer .fa-greater-than {
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}
.main .offer__prices-logo {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -10;
  opacity: 0.05;
}
.main .reviews {
  background-color: #f0f0f0;
  transition: transform 0.5s;
}
.main .reviews__textbox {
  display: inline-block;
}
.main .reviews__textbox .review-box {
  position: relative;
  margin: 60px 10px 10px;
  padding: 15px;
  border-bottom: 4px solid #fff;
  border-left: 2px solid #fff;
  cursor: pointer;
}
.main .reviews__textbox .review-box__info {
  display: flex;
}
.main .reviews__textbox .review-box__logo {
  margin-right: 10px;
  width: 40px;
}
.main .reviews__textbox .review-box__text {
  padding: 10px;
  line-height: 24px;
}
.main .reviews__textbox .review-box__name {
  display: flex;
  justify-content: end;
  align-items: center;
  text-transform: uppercase;
}
.main .reviews .slick-arrow {
  position: absolute;
  top: 0;
  padding: 10px;
  color: #fff;
  background-color: #900c50;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}
.main .reviews .slick-arrow:hover {
  background-color: #fff;
  color: #900c50;
}
.main .reviews .slick-prev {
  left: 15%;
}
.main .reviews .slick-next {
  right: 15%;
}
.main .reviews .more-reviews__link {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 10px;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 1.4rem;
  color: #fff;
  border: 2px solid #900c50;
  background-color: #900c50;
  transition: 0.3s;
}
.main .reviews .more-reviews__link:hover {
  background-color: #fff;
  color: #424242;
}
.main .reviews .more-reviews__link .fa-brands {
  margin-right: 10px;
  font-size: 2rem;
}
.main .contact__image {
  width: 80%;
}
.main .contact__subtitle {
  align-self: center;
  margin-bottom: 10px;
  font-size: 1.8rem;
}
.main .contact__email {
  align-self: center;
  margin-bottom: 5px;
  font-weight: bold;
}
.main .contact__social-media {
  display: flex;
  align-self: center;
  margin: 30px;
}
.main .contact__link {
  display: block;
  width: 60px;
  padding: 5px;
  margin: 0px 15px;
  font-size: 3.8rem;
  text-align: center;
  color: #900c50;
  transition: 0.3s;
}
.main .contact__link:hover {
  background-color: #900c50;
  color: #fff;
}
.main .contact__content-container {
  display: flex;
  align-items: center;
  margin: 0px 0 40px;
  padding: 0 10%;
  width: 100%;
}
.main .contact__rules {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 70%;
}
.main .contact__rule-link {
  padding: 15px 10px;
  margin: 10px;
  width: 90%;
  background-color: #fff;
  color: #424242;
  border: 2px solid #900c50;
  transition: 0.3s;
}
.main .contact__rule-link:hover {
  background-color: #424242;
  color: #fff;
  border-color: #424242;
}
.main .contact__logo-box {
  width: 30%;
  height: auto;
}
.main .contact__logo {
  width: 100%;
}
.main .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #900c50;
}
.main .footer__copyright {
  color: #fff;
  font-size: 1.8rem;
}
.main .footer__year {
  margin-right: 20px;
}/*# sourceMappingURL=main.css.map */