/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #900c50;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 2px;
  background-color: #424242;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
* Elastic
*/
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.section--nav-active {
  transform: translateX(-100%);
}

.section-heading {
  position: relative;
  margin: 30px 6.667% 40px;
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 400;
}
.section-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 1px;
  background-color: #424242;
}

.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0 40px;
  padding: 0 10%;
  width: 100%;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.img-box {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.img {
  max-width: 400px;
}

.link {
  text-decoration: none;
  color: #424242;
  font-size: 1.8rem;
}

.fa-google {
  scale: 0.9;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  line-height: 20px;
  scroll-behavior: smooth;
  color: #424242;
}

.page {
  font-family: "Montserrat", serif;
  color: #424242;
}

.header .hamburger {
  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 5px;
  z-index: 100;
}
.header .nav {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header .nav__brand {
  display: none;
}
.header .nav__list {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  list-style: none;
  transition: transform 0.5s;
  transform: translateX(100%);
}
.header .nav__list--active {
  transform: translatex(0);
}
.header .nav__item {
  position: relative;
  margin: 20px;
  width: 50%;
  text-transform: uppercase;
}
.header .nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #900c50;
}
.header .nav__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 1.8rem;
  color: #424242;
  text-decoration: none;
  transition: 0.3s;
}
.header .nav__link:hover {
  margin-left: 30px;
}
.header .nav__social-media {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 50%;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateY(-50%);
}
.header .nav__media-link {
  margin: 10px;
  padding: 10px;
  color: #900c50;
}

.main .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}
.main .banner__subtitle-bottom {
  line-height: 30px;
  margin-top: 40px;
  padding: 0 5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.main .banner__img-box {
  background-color: #f6f6f6;
  margin-bottom: 0;
}
.main .banner__image {
  display: block;
  width: 100%;
}
.main .banner .heading {
  width: 80%;
  padding: 20px;
}
.main .banner .heading__brand {
  position: relative;
}
.main .banner .heading__brand::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 2px;
  background-color: #900c50;
}
.main .banner .heading__logo-img {
  width: 100%;
}
.main .banner .heading__name {
  padding: 20px;
  font-size: 2.2rem;
  font-weight: 400;
}
.main .banner .heading__subbrand {
  font-size: 1.8rem;
  font-weight: 400;
}
.main .banner__btn-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
  width: 80%;
}
.main .banner__btn {
  padding: 10px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(220deg, #c0136c 0%, #5f0935 90%);
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}
.main .banner__textbox {
  margin-bottom: 0;
  text-align: left;
}
.main .about-me {
  background-color: #f6f6f6;
}
.main .about-me__image {
  width: 80%;
}
.main .about-me__cert-title {
  font-size: 20px;
  text-transform: uppercase;
  margin: 40px 5%;
}
.main .about-me__cert-container {
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main .about-me__cert-img-box {
  width: 90%;
  max-width: 300px;
}
.main .about-me__cert-image {
  width: 100%;
}
.main .offer__item {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
}
.main .offer__item::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -40px;
  height: 1px;
  width: 90%;
  background-color: #424242;
}
.main .offer__top-box {
  text-align: center;
}
.main .offer__title {
  position: absolute;
  width: 100%;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}
.main .offer__bgc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #f6f6f6;
  z-index: -1;
}
.main .offer__btn {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  background-image: linear-gradient(220deg, #c0136c 0%, #5f0935 90%);
  border: none;
}
.main .offer__subtitle {
  padding: 80px 25px 40px;
  font-size: 1.8rem;
}
.main .offer__image {
  width: 80%;
}
.main .offer__image-vert {
  width: 60%;
  max-width: 300px;
}
.main .offer__textbox {
  text-align: left;
  margin: 0;
  padding: 40px 10% 60px;
  background-color: #f6f6f6;
}
.main .offer__list-title {
  align-self: start;
  margin-bottom: 10px;
}
.main .offer__list {
  margin: 10px 0;
  align-items: start;
}
.main .offer__more {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
  margin-top: 40px;
}
.main .offer__more-title {
  width: 100%;
  margin-bottom: 80px;
  font-size: 2rem;
  line-height: 1.8;
}
.main .offer__more-bottom-text {
  width: 100%;
  font-size: 2rem;
  margin-top: 60px;
  line-height: 1.8;
  font-style: italic;
}
.main .offer__more-icon-container {
  width: 45%;
  text-align: center;
}
.main .offer__more-image-box {
  width: 100%;
}
.main .offer__more-image-box-vert {
  width: 90%;
  max-width: 400px;
  margin-bottom: 20px;
}
.main .offer__more-image {
  width: 100%;
}
.main .offer__more-icon {
  width: 100%;
  margin-bottom: 15px;
}
.main .offer__more-icon-img {
  width: 50%;
}
.main .offer__more-icon-title {
  margin-bottom: 10px;
}
.main .offer__more-text {
  margin-bottom: 0;
  padding: 0;
}
.main .offer__more-textbox {
  display: block;
  text-align: left;
  padding: 0 5%;
}
.main .offer__more-textbox2 {
  margin-bottom: 0;
  padding: 0 5%;
}
.main .offer__more-wardrobe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main .offer__more-textbox-wardrobe {
  max-width: 600px;
}
.main .offer__picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  background-color: #f6f6f6;
}
.main .offer__img-box-extra {
  width: 50%;
  max-width: 350px;
  margin: 20px 0;
}
.main .offer .voucher-container {
  padding: 40px 0;
}
.main .offer .voucher {
  width: 100%;
  padding-bottom: 0;
}
.main .offer .voucher__img-box {
  width: 90%;
  max-width: 500px;
  margin-bottom: 0;
}
.main .offer .voucher__image {
  width: 100%;
}
.main .offer .voucher__title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main .offer .voucher__text {
  font-size: 14px;
}
.main .offer__prices {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.main .offer__prices-title {
  padding: 10px;
  margin-bottom: 40px;
  width: 100%;
  background-image: linear-gradient(220deg, #c0136c 0%, #5f0935 90%);
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}
.main .offer__prices-box {
  width: 80%;
  text-align: left;
}
.main .offer__prices-list {
  list-style: none;
}
.main .offer__prices-btn {
  padding: 5px;
  font-family: inherit;
  text-align: left;
  font-size: 1.4rem;
  color: #424242;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.main .offer__prices-btn:hover {
  text-decoration: underline;
}
.main .offer__prices-textbox {
  margin: 10px 0 20px;
  padding: 0 5%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
.main .offer__prices-btn i.rotated {
  transform: rotate(90deg);
}
.main .offer .fa-greater-than {
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}
.main .offer__logo-box {
  position: absolute;
  top: calc(50% + 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}
.main .offer__prices-logo {
  opacity: 0.05;
}
.main .reviews {
  background-color: #f6f6f6;
  transition: transform 0.5s;
}
.main .reviews__textbox {
  display: inline-block;
}
.main .reviews__textbox .review-box {
  position: relative;
  margin: 60px 10px 10px;
  padding: 15px;
  border-bottom: 4px solid #fff;
  border-left: 2px solid #fff;
  cursor: pointer;
}
.main .reviews__textbox .review-box__info {
  display: flex;
}
.main .reviews__textbox .review-box__logo {
  margin-right: 10px;
  width: 40px;
}
.main .reviews__textbox .review-box__text {
  padding: 10px;
  line-height: 24px;
}
.main .reviews__textbox .review-box__name {
  display: flex;
  justify-content: end;
  align-items: center;
  text-transform: uppercase;
}
.main .reviews .slick-arrow {
  position: absolute;
  top: 0;
  padding: 10px;
  color: #fff;
  background-image: linear-gradient(220deg, #c0136c 0%, #5f0935 90%);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}
.main .reviews .slick-prev {
  left: 15%;
}
.main .reviews .slick-next {
  right: 15%;
}
.main .reviews .more-reviews__link-container {
  display: flex;
  margin: 0 30%;
}
.main .reviews .more-reviews__link {
  display: block;
  width: 60px;
  margin: 20px 15px;
  text-align: center;
  color: #900c50;
  transition: 0.3s;
}
.main .reviews .more-reviews__link:hover {
  scale: 1.1;
}
.main .reviews .more-reviews__link .fa-brands {
  font-size: 3rem;
}
.main .reviews .more-reviews :last-child {
  margin-bottom: 0;
}
.main .contact__image {
  width: 50%;
}
.main .contact__text-container {
  text-align: center;
}
.main .contact__subtitle {
  margin-bottom: 30px;
  padding: 0 10%;
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}
.main .contact__email {
  align-self: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.4rem;
}
.main .contact__content-container {
  display: flex;
  align-items: center;
  margin: 0px 0 40px;
  padding: 0 10%;
  width: 100%;
}
.main .contact__rules {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  width: 60%;
}
.main .contact__rule-link {
  margin: 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: 2px;
  transition: 0.3s;
}
.main .contact__rule-link:hover {
  color: #900c50;
}
.main .contact__logo-box {
  width: 30%;
  height: auto;
}
.main .contact__logo {
  width: 100%;
}
.main .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-image: linear-gradient(220deg, #c0136c 0%, #5f0935 90%);
}
.main .footer__copyright {
  color: #fff;
  font-size: 1.2rem;
}
.main .footer__year {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .main .banner__img-box {
    display: flex;
    justify-content: center;
  }
  .main .banner__image {
    width: 80%;
  }
  .main .banner .heading {
    width: 70%;
  }
  .main .banner .heading__name {
    font-size: 2.6rem;
  }
  .main .banner .heading__subbrand {
    font-size: 2rem;
  }
  .main .banner__btn {
    background-image: linear-gradient(220deg, #c0136c 0%, #5f0935 90%);
    color: #fff;
    width: 30%;
    border: 1px solid transparent;
    transition: 0.3s;
  }
  .main .banner__btn:hover {
    background-image: none;
    background-color: #fff;
    color: #424242;
    border: 1px solid #900c50;
  }
  .main .offer__item::after {
    content: "";
    height: 0;
    width: 0;
  }
  .main .offer__more {
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
  }
  .main .offer__prices-box {
    margin-left: 10%;
  }
  .main .reviews .slick-arrow:hover {
    scale: 1.05;
  }
}
@media (max-height: 800px) {
  .banner {
    min-height: calc(100vh - 70px);
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 60px;
  }
  .textbox {
    font-size: 1.5rem;
    padding: 0 5%;
    letter-spacing: 1.5px;
  }
  .header {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 0 40px;
  }
  .header .hamburger {
    display: none;
  }
  .header .nav {
    position: fixed;
    height: 60px;
    background-color: #fff;
    z-index: 100;
  }
  .header .nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #900c50;
  }
  .header .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5% 0;
  }
  .header .nav__brand {
    position: relative;
    display: block;
    width: 40%;
  }
  .header .nav__logo-img {
    width: 100%;
  }
  .header .nav__list {
    position: relative;
    flex-direction: row;
    justify-content: end;
    background-color: transparent;
    transform: translateX(0);
  }
  .header .nav__item {
    position: relative;
    margin: 5px;
    width: auto;
  }
  .header .nav__item::after {
    content: none;
  }
  .header .nav__item:first-of-type {
    background-image: linear-gradient(220deg, #c0136c 0%, #5f0935 90%);
  }
  .header .nav__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    font-size: 1.2rem;
    color: #424242;
    letter-spacing: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;
  }
  .header .nav__link--first {
    color: #fff;
  }
  .header .nav__link:hover {
    color: #424242;
    background-color: #fff;
    border: 1px solid #900c50;
    margin-left: 0;
  }
  .header .nav__social-media {
    flex-direction: row;
    left: 0;
  }
  .header .nav__media-link {
    margin: 5px;
    padding: 5px;
    transition: 0.3s;
  }
  .header .nav__media-link:hover {
    scale: 1.2;
  }
  .main .banner {
    display: grid;
    gap: 10px;
    padding: 40px 40px;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .main .banner__img-box {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 40px;
    width: 90%;
    max-height: 550px;
  }
  .main .banner__image {
    padding: 0 30px;
    width: auto;
    height: 90%;
  }
  .main .banner .heading {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
  }
  .main .banner .heading__brand {
    display: none;
  }
  .main .banner .heading__name {
    padding: 0 0 20px;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .main .banner .heading__subbrand {
    font-size: 2rem;
  }
  .main .banner__textbox {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .main .banner__btn-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
  .main .banner__subtitle-bottom {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 2rem;
    margin-top: 0;
    margin-left: 40px;
    letter-spacing: 2.5px;
    font-style: italic;
  }
  .main .about-me__content {
    display: grid;
  }
  .main .about-me__textbox {
    margin-bottom: 0;
  }
  .main .about-me__textbox1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .main .about-me__textbox2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main .about-me__textbox3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .main .about-me__img-box {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .main .about-me__cert-image {
    transition: 0.3s;
  }
  .main .about-me__cert-image:hover {
    scale: 2.5;
    margin-bottom: 120px;
  }
  .main .offer__title {
    width: 50%;
    right: 0;
  }
  .main .offer__title2 {
    width: 50%;
    left: 0;
  }
  .main .offer__bgc {
    left: 0;
    width: 50%;
  }
  .main .offer__bgc2 {
    left: 50%;
    right: 0;
    width: 50vw;
  }
  .main .offer__btn {
    top: 0;
    left: calc(50% - 40px);
    transform: rotate(90deg);
  }
  .main .offer__btn2 {
    left: 50%;
  }
  .main .offer__item {
    display: grid;
    gap: 40px;
    overflow: hidden;
  }
  .main .offer__top-box {
    height: 40px;
    margin-bottom: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .main .offer__lower-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main .offer__lower-box2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .main .offer__textbox {
    padding-bottom: 40px;
  }
  .main .offer__title {
    font-size: 2.2rem;
    letter-spacing: 1.5px;
  }
  .main .offer__subtitle {
    padding: 0px 25px 15%;
    font-size: 2.2rem;
  }
  .main .offer__img-box {
    margin-bottom: 0;
  }
  .main .offer__image {
    width: 90%;
    max-width: 600px;
  }
  .main .offer__image-vert {
    width: 80%;
    max-width: 400px;
  }
  .main .offer__more {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .main .offer__more-icon-container {
    width: 25%;
    text-align: center;
  }
  .main .offer__more-icon {
    margin-bottom: 30px;
  }
  .main .offer__more-icon-img {
    transition: 0.3s;
  }
  .main .offer__more-icon-img:hover {
    scale: 1.2;
  }
  .main .offer__more-image {
    transition: 0.3s;
  }
  .main .offer__more-image:hover {
    scale: 1.05;
  }
  .main .offer__img-box-extra {
    margin: 20px;
  }
  .main .offer__prices-box {
    width: 100%;
  }
  .main .offer__prices-box {
    padding: 0 200px 40px 80px;
  }
  .main .offer__prices-btn {
    font-size: 1.6rem;
  }
  .main .offer .voucher-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main .offer .voucher-container .voucher {
    width: 45%;
    padding-right: 0;
    padding: 0;
  }
  .main .offer .voucher-container .voucher__img-box {
    width: 45%;
  }
  .main .offer .voucher-container .voucher__text {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  .main .reviews .review-box {
    margin: 60px 50px 10px;
  }
  .main .contact__grid-container {
    display: grid;
  }
  .main .contact__image {
    width: 80%;
  }
  .main .contact__img-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .main .contact__text-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .main .contact__content-container {
    margin-bottom: 0;
    margin-top: 40px;
  }
}
@media (min-height: 801px) {
  .banner {
    min-height: 800px;
  }
}
@media (min-width: 1200px) {
  .section-heading {
    margin: 30px 0 40px;
  }
  .textbox {
    padding: 0 5%;
  }
  .header .nav__container {
    padding: 10px 0 0;
  }
  .header .nav__social-media {
    left: 10%;
  }
  .main .banner {
    padding: 0 0 40px;
  }
  .main .banner__img-box {
    width: 700px;
  }
}/*# sourceMappingURL=main.css.map */