$raspberry: #900c50;
$dark-gray: #424242;
$light-gray: #f6f6f6;
$white: #fff;
$ras-gradient: linear-gradient(220deg, #c0136c 0%, #5f0935 90%);
$grey-gradient: linear-gradient(220deg, #9d9d9d 0%, #646464 90%);