@use './colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	&--nav-active {
		transform: translateX(-100%);
	}
}

.section-heading {
	position: relative;
	margin: 30px 6.667% 40px;
	padding-bottom: 10px;
	font-size: 2.5rem;
	font-weight: 400;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 60%;
		height: 1px;
		background-color: $dark-gray;
	}
}

.textbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 0 40px;
	padding: 0 10%;
	width: 100%;
	font-size: 1.4rem;
	letter-spacing: 1px;
}


.img-box {
    margin-bottom: 40px;
	width: 100%;
	text-align: center;
}

.img {
	max-width: 400px;
}

.link {
	text-decoration: none;
	color: $dark-gray;
	font-size: 1.8rem;
}

.fa-google {
	scale: .9;
}