@media (max-height:  800px) {
.banner {
    min-height: calc(100vh - 70px);
}

}



@media (min-width: 992px) {



    

	// HEADER

	.header {
		position: relative;
		width: 100%;
        height: 50px;
		display: flex;
		justify-content: center;
		margin-top: 20px;
        padding: 0 40px;

		.hamburger {
			display: none;
		}

		.nav {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 1200px;
            height: fit-content;
			z-index: 100;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				max-width: 1200px;
				height: 1px;
				background-color: $raspberry;
			}
			&__brand {
				position: relative;
				display: block;
				width: 40%;
			}
			&__logo-img {
				width: 100%;
			}
			&__list {
				position: relative;
				flex-direction: row;
				justify-content: end;
				background-color: transparent;
				transform: translateX(0);
			}
			&__item {
				position: relative;
				margin: 5px;
				width: auto;
				border: 2px solid transparent;
				background-color: $dark-gray;
				transition: 0.3s;
				&:hover {
					background-color: white;
					color: $dark-gray;
					border: 2px solid $raspberry;
				}
				&::after {
					content: none;
				}
				&:first-of-type {
					background-color: $raspberry;
					&:hover {
						background-color: white;
						color: $dark-gray;
						border: 2px solid $raspberry;
					}
				}
			}
			&__link {
				display: block;
				width: 100%;
				height: 100%;
				padding: 5px 10px;
				font-size: 1.2rem;
				color: white;
				letter-spacing: 2px;
				&:hover {
					color: $dark-gray;
				}
			}
		}
	}

	// MAIN

	.main {
		// BANNER

		.banner {
			display: grid;
			gap: 10px;
            padding: 40px 40px;
            margin-bottom: 0;
			&__img-box {
				grid-column-start: 2;
				grid-column-end: 7;
				grid-row-start: 1;
				grid-row-end: 4;
				display: flex;
				justify-content: center;
                align-items: end;
                margin-left: 40px;
                height: 90%;
                max-height: 500px;

			}
			&__image {
                width: auto;
                height: 90%;
			}
			.heading {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 1;
				grid-row-end: 2;

				width: 100%;
				text-align: left;
                padding: 0 20px;

				&__brand {
					display: none;
				}
				&__name {
					padding: 0 0 10px;
					font-size: 2rem;
				}

				&__subbrand {
					font-size: 1.8rem;
				}
			}

			&__textbox {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 3;
                margin-bottom: 0;
			}

			&__btn-box {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 3;
				grid-row-end: 4;

                margin-top: 0;
				margin-bottom: 0;
				width: 100%;
			}
			&__btn {
				width: 30%;
			}
		}

		// ABOUTME

		.about-me {
			&__content {
				display: grid;
			}

			&__textbox {
				margin-bottom: 0;
			}

			&__textbox1 {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 1;
				grid-row-end: 2;
			}
			&__textbox2 {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			&__textbox3 {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 3;
				grid-row-end: 4;
			}
			&__img-box {
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 4;
			}
		}

		// OFFER

		.offer {
			&__title {
				width: 50%;
				right: 0;
			}
			&__title2 {
				width: 50%;
				left: 0;
			}

			&__bgc {
				left: -1000%;
				width: 1050%;
			}
			&__bgc2 {
				left: 50%;
				right: 0;
				width: 50vw;
			}
			&__btn {
				top: 0;
				left: calc(50% - 40px);
				transform: rotate(90deg);
			}
			&__btn2 {
				left: 50%;
			}

			&__item {
				display: grid;
				gap: 40px;
                min-height: 600px;
				overflow: hidden;
			}

			&__top-box {
				height: 40px;
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 2;
			}
			&__lower-box {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			&__lower-box2 {
				grid-column-start: 2;
				grid-column-end: 3;
			}
			&__textbox {
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			&__textbox2 {
				grid-column-start: 1;
				grid-column-end: 2;
			}

			&__subtitle {
				padding: 0px 25px 30%;
			}
            &__subtitle2{
                padding-bottom: 15%;
            }
			&__img-box {
				margin-bottom: 0;
			}
			&__image {
				width: 100%;
			}
			&__image-vert {
				width: 80%;
			}
			&__more {
				transform: translatey(-150%);
				&--active {
					transform: translatey(0);
				}
			}

            &__more-logo {
                display: none;
            }

			&__btn-close {
				transform: rotate(90deg);
			}
			&__prices-box {
				width: 100%;
			}

			&__prices-box {
				padding-bottom: 40px;
                padding: 0 0 40px 80px;
			}
            &__prices-logo {
                top: -40%;
                left: 20%;
                scale: .5;
            }
		}

		// REVIEWS

		.reviews {
			.review-box {
				margin: 60px 50px 10px;
			}
			.more-reviews {
				display: grid;
				flex-direction: row;
                padding: 0 200px;
				&__text {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 2;
                   font-weight: bold;
				}
				&__link {
					grid-column-start: 2;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 2;
				}
				&__text2 {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 2;
					grid-row-end: 3;
				}
				&__link2 {
					grid-column-start: 2;
					grid-column-end: 3;
					grid-row-start: 2;
					grid-row-end: 3;
				}
				&__text3 {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 3;
					grid-row-end: 4;
				}
				&__link3 {
					grid-column-start: 2;
					grid-column-end: 3;
					grid-row-start: 3;
					grid-row-end: 4;
				}
			}
		}

		// CONTACT

		.contact {
			&__grid-container {
				display: grid;
			}
			&__image {
				width: 80%;
			}

			&__img-box {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 1;
				grid-row-end: 2;
			}
			&__text-container {
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 2;
			}
		}
	}
}
