@media (min-width: 768px) {
	// MAIN

	.main {
		// BANNER

		.banner {
			&__img-box {
				display: flex;
				justify-content: center;
			}
			&__image {
				width: 80%;
			}
			.heading {
				width: 70%;
				&__name {
					font-size: 2.6rem;
				}

				&__subbrand {
					font-size: 2rem;
				}
			}

			&__btn {
				background-image: $ras-gradient;
				color: #fff;
				width: 30%;
				border: 1px solid transparent;
				transition: 0.3s;
				&:hover {
					background-image: none;
					background-color: #fff;
					color: $dark-gray;
					border: 1px solid $raspberry;
				}
			}
		}

		// OFFER
		.offer {
			&__item {
				&::after {
					content: '';
					height: 0;
					width: 0;
				}
			}
			&__more {
				border-top: 1px solid $dark-gray;
				border-bottom: 1px solid $dark-gray;
				
			}
			
			&__prices-box {
				margin-left: 10%;
			}
			
		}

		// REVIEWS

		.reviews {
			.slick-arrow {
				&:hover {
					scale: 1.05;
				}
			}
		}
	}
}
