@media (min-width: 768px) {
	// MAIN

	.main {
		// BANNER

		.banner {
			&__img-box {
				display: flex;
				justify-content: center;
			}
			&__image {
				width: 80%;
			}
			.heading {
				width: 70%;
				&__name {
					font-size: 2.6rem;
				}

				&__subbrand {
					font-size: 2rem;
				}
			}

			

			&__btn {
				color: $dark-gray;
				background-image: none;
				border: 1px solid $raspberry;
				&:hover {
					border: 1px solid transparent;
				}
			}
		}

		// OFFER
		.offer {
			&__btn {
				&:hover {
					padding-left: 10px;
				}
			}
			&__btn-close {
				&:hover {
					padding-right: 10px;
				}
			}
			&__prices-box {
				margin-left: 10%;
			}
		}

		// REVIEWS

		.reviews {
			.slick-arrow {
				&:hover {
					scale: 1.05;
				}
			}
		}
	}
}
