@media (min-height: 801px) {
	.banner {
		min-height: 800px;
	}
}

@media (min-width: 1200px) {
	.section-heading {
		margin: 30px 0 40px;
	}
	.textbox {
		padding: 0 5%;
	}
    .header {
      .nav {
        &__container {
			padding: 10px 0 0;
        }
        &__social-media{
            left: 10%;
        };
      }
    }
    .main {
        .banner {
            padding: 0 0 40px;
            &__img-box {
                width: 700px;
            }
        }
    }
}
