@use './hamburger' as *;
@use './colors' as *;
@use './components' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
	color: $dark-gray;
}

.page {
	font-family: 'Montserrat', serif;
	color: $dark-gray;
}

// HEADER

.header {
	.hamburger {
		position: fixed;
		top: 15px;
		right: 15px;
		border-radius: 5px;
		z-index: 100;
	}

	.nav {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: hidden;
		&__list {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 100;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: $white;
			list-style: none;
			transition: transform 0.5s;
			transform: translateX(100%);
			&--active {
				transform: translatex(0);
			}
		}
		&__item {
			position: relative;
			margin: 20px;
			width: 50%;
			text-transform: uppercase;
			&:hover {
				background-color: $raspberry;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				height: 1px;
				width: 100%;
				background-color: $raspberry;
			}
		}
		&__link {
			display: block;
			width: 100%;
			height: 100%;
			padding: 15px;
			font-size: 1.8rem;
			color: $dark-gray;
			text-decoration: none;
			&:hover {
				color: $white;
			}
		}
	}
}

// MAIN

.main {
	// BANNER

	.banner {
		margin-bottom: 40px;

		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		&__img-box {
			background-color: $light-gray;
			margin-bottom: 0;
		}
		&__image {
			display: block;
			width: 100%;
		}

		.heading {
			width: 80%;
			padding: 20px;
			&__brand {
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: -10%;
					width: 120%;
					height: 2px;
					background-color: $raspberry;
				}
			}
			&__logo-img {
				width: 100%;
			}

			&__name {
				padding: 20px;
				font-size: 2.2rem;
				font-weight: 400;
			}
			&__subbrand {
				font-size: 1.8rem;
				font-weight: 400;
			}
		}

		&__btn-box {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			margin-bottom: 40px;
			width: 80%;
		}

		&__btn {
			padding: 10px 10px;
			margin-right: 10px;
			align-self: end;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 1.2rem;
			font-family: inherit;
			font-weight: bold;
			color: $dark-gray;
			background-color: #fff;
			border: 2px solid $raspberry;
			cursor: pointer;
			text-decoration: none;
			transition: 0.3s;
			&:hover {
				background-color: $raspberry;
				color: #fff;
			}
		}

		&__logo-box {
			width: 40px;
		}

		&__logo {
			width: 100%;
		}

		&__textbox {
			margin-bottom: 20px;
			text-align: left;
		}
	}
	// ABOUTME

	.about-me {
		background-color: $light-gray;
		&__image {
			width: 80%;
		}
	}

	// OFFER

	.offer {
		&__item {
			position: relative;
			margin-bottom: 80px;
			&::after {
				content: '';
				position: absolute;
				left: 5%;
				bottom: -40px;
				height: 1px;
				width: 90%;
				background-color: $dark-gray;
			}
		}

		&__top-box {
			position: relative;
			text-align: center;
		}

		&__title {
			background-color: $light-gray;
			padding: 5px;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 400;
		}
		&__btn {
			position: absolute;
			bottom: -40px;
			left: 0;
			padding: 10px 15px;
			color: #fff;
			background-color: $raspberry;
			border: none;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: #fff;
				color: $raspberry;
				padding: 10px 20px;
			}
		}

		&__subtitle {
			padding: 25px;
			font-size: 1.8rem;
		}

		&__image {
			width: 80%;
		}
		&__image-horizontal {
			width: 60%;
		}

		&__textbox {
			margin: 0;
			padding: 40px 5%;
			background-color: $light-gray;
		}
		&__list-title {
			align-self: start;
		}
		&__list {
			margin: 10px 0;
			align-items: start;
		}

		// OFFER MORE

		&__more {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			z-index: 10;
			background-color: $light-gray;
			overflow: hidden;
			transition: transform 1s;
			transform: translateX(-150%);
			&--active {
				transform: translatex(0);
			}
		}

		&__more-title {
			margin-top: 40px;
			padding: 5px;
			align-self: center;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 400;
		}

		&__more-squares-box {
			margin: 40px 0;
			display: flex;
			width: 100%;
			justify-content: space-evenly;
		}

		.square {
			height: 40px;
			width: 40px;
		}

		&__more-square1 {
			background-color: #fff;
		}
		&__more-square2 {
			background-color: $raspberry;
		}
		&__more-square3 {
			background-color: #5d1a7a;
		}
		&__more-square4 {
			background-color: #00636a;
		}
		&__more-square5 {
			background-color: #3c3b3b;
		}

		&__btn-close {
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px 15px;
			color: #fff;
			background-color: $raspberry;
			border: none;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: $light-gray;
				color: $raspberry;
				padding: 10px 20px;
			}
		}

		&__more-img {
			margin-top: 30px;
		}

		&__more-logo {
			position: absolute;
			bottom: 0;
			opacity: 0.05;
			scale: 2;
		}

		// OFFER PRICES

		&__prices {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			overflow: hidden;
		}
		&__prices-title {
			padding: 10px;
			margin-bottom: 40px;
			width: 100%;
			background-color: $raspberry;
			color: #fff;
		}

		&__prices-box {
			width: 80%;
			text-align: left;
		}

		&__prices-list {
			list-style: none;
		}

		&__prices-btn {
			padding: 5px;
			font-family: inherit;
			text-align: left;
			color: $dark-gray;
			background: none;
			border: none;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				text-decoration: underline;
			}
		}

		&__prices-textbox {
			margin: 10px 0;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.4s ease-in-out;
		}

		&__prices-btn i.rotated {
			transform: rotate(90deg);
		}

		.fa-greater-than {
			margin-right: 10px;
			transition: transform 0.3s ease-in-out;
		}

		&__prices-logo {
			position: absolute;
			top: 40px;
			left: 0;
			z-index: -10;
			opacity: 0.05;
		}
	}

	// REVIEWS

	.reviews {
		background-color: $light-gray;
		transition: transform 0.5s;

		&__image {
			width: 60%;
		}

		&__textbox {
			display: inline-block;
			.review-box {
				position: relative;
				margin: 60px 10px 10px;
				padding: 15px;
				border-bottom: 4px solid #fff;
				border-left: 2px solid #fff;
				cursor: pointer;
				&__info {
					display: flex;
				}
				&__logo {
					margin-right: 10px;
					width: 40px;
				}
				&__text {
					padding: 10px;
					line-height: 24px;
				}
				&__name {
					display: flex;
					justify-content: end;
					align-items: center;
					text-transform: uppercase;
				}
			}
		}

		.slick-arrow {
			position: absolute;
			top: 0;
			padding: 10px;
			color: #fff;
			background-color: $raspberry;
			border: none;
			cursor: pointer;
			transition: 0.3s;
			z-index: 10;
			&:hover {
				background-color: #fff;
				color: $raspberry;
			}
		}

		.slick-prev {
			left: 15%;
		}
		.slick-next {
			right: 15%;
		}

		.more-reviews {
			&__link {
				display: flex;
				align-items: center;
				margin: 15px 0;
				padding: 10px;
				text-decoration: none;
				letter-spacing: 4px;
				// font-weight: bold;
				font-size: 1.4rem;
				color: #fff;
				border: 2px solid $raspberry;
				background-color: $raspberry;
				transition: 0.3s;
				&:hover {
					background-color: #fff;
					color: $dark-gray;
				}

				.fa-brands {
					margin-right: 10px;
					font-size: 2rem;
				}
			}
		}
	}

	// CONTACT

	.contact {
		&__subtitle {
			align-self: center;
			margin-bottom: 10px;
			font-size: 1.8rem;
		}

		&__email {
			align-self: center;
			margin-bottom: 5px;
			font-weight: bold;
		}

		&__social-media {
			display: flex;
			align-self: center;
			margin: 30px;
		}

		&__link {
			display: block;
			width: 60px;
			padding: 5px;
			margin: 0px 15px;
			font-size: 3.8rem;
			text-align: center;
			color: $raspberry;
			transition: 0.3s;
			&:hover {
				background-color: $raspberry;
				color: #fff;
			}
		}

		&__content-container {
			display: flex;

			align-items: center;
			margin: 0px 0 40px;
			padding: 0 10%;
			width: 100%;
		}

		&__rules {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 20px;
			width: 70%;
		}
		&__rule-link {
			padding: 15px 10px;
			margin: 10px;
			width: 90%;
			background-color: #fff;
			color: $dark-gray;
			border: 2px solid $raspberry;
			transition: .3s;
			&:hover{
				background-color: $dark-gray;
				color: #fff;
				border-color: $dark-gray;
			}
		}

		&__logo-box {
			width: 30%;
			height: auto;
		}

		&__logo {
			width: 100%;
		}
	}

	// FOOTER

	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		background-color: $raspberry;
		&__copyright {
			color: #fff;
			font-size: 1.8rem;
		}

		&__year {
			margin-right: 20px;
		}
	};
}
