@use './hamburger' as *;
@use './colors' as *;
@use './components' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
	color: $dark-gray;
}

.page {
	font-family: 'Montserrat', serif;
	color: $dark-gray;
}

// HEADER

.header {
	display: flex;

	.heading {
		width: 80%;
		padding: 20px;
		&__brand {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $raspberry;
			}
		}
		&__logo-img {
			width: 80%;
		}
		&__subbrand {
			margin-top: 10px;
			padding: 5px;
			font-size: 1.5rem;
			font-weight: 400;
		}
		&__name {
			padding: 5px;
			font-size: 2rem;
			font-weight: 400;
		}
	}

	.hamburger {
		position: fixed;
		top: 15px;
		right: 15px;
		border-radius: 5px;
		z-index: 100;
	}

	.nav {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: hidden;
		&__list {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 100;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: $white;
			list-style: none;
			transition: transform 0.5s;
			transform: translateX(100%);
			&--active {
				transform: translatex(0);
			}
		}
		&__item {
			position: relative;
			margin: 30px;
			width: 50%;
			text-transform: uppercase;
			&:hover {
				background-color: $raspberry;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				height: 1px;
				width: 100%;
				background-color: $raspberry;
			}
		}
		&__link {
			display: block;
			width: 100%;
			height: 100%;
			padding: 20px;
			font-size: 2.5rem;
			color: $dark-gray;
			text-decoration: none;
			&:hover {
				color: $white;
			}
		}
	}
}

// MAIN

.main {
	// BANNER

	.banner {
		margin-bottom: 40px;
		&__img-box {
			background-color: $light-gray;
		}
		&__image {
			display: block;
			width: 100%;
		}

		&__btn {
			padding: 10px 20px;
			margin-right: 10px;
			align-self: end;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 1.5rem;
			font-family: inherit;
			color: $light-gray;
			background-color: $raspberry;
			border: none;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: $dark-gray;
				color: $light-gray;
			}
		}
	}
	// ABOUTME

	.about-me {
		background-color: $light-gray;
		&__image {
			width: 80%;
		}
	}

	// OFFER

	.offer {
		&__item {
			position: relative;
			margin-bottom: 80px;
			&::after {
				content: '';
				position: absolute;
				left: 5%;
				bottom: -40px;
				height: 1px;
				width: 90%;
				background-color: $dark-gray;
			}
		}

		&__top-box {
			position: relative;
			padding-bottom:40px;
			text-align: center;
		}

		&__title {
			background-color: $light-gray;
			padding: 5px;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 400;
		}
		&__btn {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px 15px;
			color: $light-gray;
			background-color: $raspberry;
			border: none;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				background-color: #fff;
				color: $raspberry;
				padding: 10px 20px;
			}
		}

		&__subtitle {
			padding: 25px;
			font-size: 1.8rem;
		}

		&__image {
			width: 80%;
		}
		&__image-horizontal {
			width: 60%;
		}

		&__textbox {
			margin: 0;
			padding: 40px 5%;
			background-color: $light-gray;
		}
		&__list-title {
			align-self: start;
		}
		&__list {
			margin: 10px 0;
			align-items: start;
		}
	}
}
